GenericChatroomWidget {
    background-color: #2E3440;
}

GenericChatroomWidget:hover {
    background-color: #3B4252;
}

GenericChatroomWidget[active="true"] {
    background-color: #434C5E;
}

CroppingLabel#statusMessageLabelObj {
    color: #81A1C1;
}

CroppingLabel#statusMessageLabelObj[active="true"] {
    color: #D8DEE9;
}

CroppingLabel#nameLabelObj {
    color: #D8DEE9;
}

CroppingLabel#nameLabelObj[active="true"] {
    color: #ECEFF4;
}
