QPushButton
{
    background-color: #A3BE8C;
    background-image: url("@getImagePath(fileButton/fileButton.svg)");
    background-repeat: none;
    background-position: center;
    border-bottom-right-radius: 5px;
    border: none;
    width: 24px;
    height: 24px;
}

QAbstractButton:hover
{
    background-color: #A3BE8C;
}

QPushButton:pressed
{
    background-color: #A3BE8C;
}

QPushButton[enabled="false"]
{
    background-color: #4C566A;
}

QPushButton:focus {
    outline: none;
}
