QPushButton
{
    background-color: #A3BE8C;
    background-image: url("@getImagePath(sendButton/sendButton.svg)");
    background-repeat: none;
    background-position: center;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

QPushButton:hover
{
    background-color: #A3BE8C;
}

QPushButton:pressed
{
    background-color: #A3BE8C;
}

QPushButton:focus
{
    outline: none;
}
