<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ztox</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tox</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ztox_profile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-tox.profile</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Tox profile</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tox</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>ztox</string>
	<key>CFBundleIconFile</key>
	<string>ztox.icns</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.whisxeybob.ztox</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en_US</string>
		<string>ru_RU</string>
	</array>
	<key>CFBundleName</key>
	<string>ztox</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleSignature</key>
	<string>ztox</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>ztox_profile</string>
			<key>CFBundleURLName</key>
			<string>Tox URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tox</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSCameraUsageDescription</key>
	<string>ztox needs access to the camera for video calls.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>ztox needs access to the microphone for audio calls.</string>
	<key>NSCameraUseContinuityCameraDeviceType</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.tox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>TOX</string>
				<key>public.filename-extension</key>
				<array>
					<string>tox</string>
				</array>
				<key>public.mime-type</key>
				<string>tox/x-profile</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
